.canvas {
  position: relative;
  height: 100%;
  background-color: var(--color-background);
  box-shadow: black 0px 2px 8px inset;
  overflow: auto;

  // &.mode-adding {
  //   cursor: cell;
  // }

  &.mode-routing {
    cursor: pointer !important;

    .outputs .socket {
      cursor: pointer !important;
    }

    .inputs .socket {
      cursor: grabbing !important;
    }

  }

}

.info-bar {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-endth;
  gap: 0.5rem;
  bottom: 0;
  left: 0;
  padding: 0.5em;
  z-index: 3;

  .error {
    color: red;
    height: min-content;
  }
}

.selection-box {
  outline: 1px solid white;
  background-color: rgba(255,255,255,0.1);
  position: absolute;
  z-index: 999999;
}