.canvas {
  position: relative;
  height: 100%;

  &.mode-adding {
    cursor: cell;
  }

  &.mode-routing {
    cursor: pointer !important;

    .outputs .socket {
      cursor: pointer !important;
    }

    .inputs .socket {
      cursor: grabbing !important;
    }

  }

  &.mode-deleting {
    
    .node,
    .node textarea,
    svg.connections path {
      cursor: not-allowed;
    }
  }
}

.evaluated {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 3
}