@import "vue-draggable-resizable/style.css";

.node {
    border: solid 1px var(--color-command);
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-background);

    &:focus-visible {
      outline: solid 1px rgba(255, 255, 255, 1);
      z-index: 2 !important;
    }
  
    &.selected {
      outline: solid 1px rgba(255, 255, 255, 1);
      background: #21192d;
      z-index: 2 !important;
    }

    &.editable {
      outline: dashed 1px rgba(255, 255, 255, 1);
      background: var(--color-background);

      textarea {
        cursor: text;

      &::-moz-selection {
          color: rgba(255, 255, 255, 0.75);
          background: #c542c18b;
        }
        
        &::selection {
          color: rgba(255, 255, 255, 0.75);
          background: #c542c157;
        }
      }
    }

  
    textarea {
      width: 100%;
      background: transparent;
      color: white;
      border: 1px none white;
      padding: 13px 0.5em;
      cursor: pointer;
      text-align: left;
      resize: none;
      overflow: hidden;
      width: inherit;
      height: inherit;
      font-family: var(--main-font);
      font-size: 13px;
      font-optical-sizing: auto;
      box-shadow: black 0px 2px 8px inset;

      &::-webkit-scrollbar {
        width: 7px;
      }

      &::-webkit-scrollbar-thumb { 
        background: #c542c157;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-track { 
        background: transparent;
        border-radius: 10px;
        
      }
  
      &:focus {
        outline: none;
      }
    }


    // &.node-empty {
    //   width: min-content !important;
    //   textarea {
    //     width: 100%;
    //   }
    // }
    &.node-play,
    &.node-export,
    &.node-exportImg,
    &.node-import,
    &.node-reset,
    &.node-stop {
      border-radius: 50%;
      height: auto !important;
      aspect-ratio: 1 !important;
      box-shadow: black 0 2px 8px;

      button {
        text-transform: uppercase;
        background-color: transparent;
        border: none;
        color: var(--color-t);
        width: 100%;
        height: 100%;
        border-radius: 50%;
        font-size: 12px;
        cursor: pointer;

        &:hover {
          color: rgb(10, 255, 210);
        }
        &:active {
          font-size: 11px;
        }
      }
      
    }

    &.node-out {
      border-radius: 0 0 20px 20px;
      color: var(--color-t);
      text-transform: uppercase;
      padding-top: .5rem;
      box-shadow: black 0 2px 8px;

    }

    &.node-errors {
      color: rgb(255, 34, 0);
      min-width: 400px;
      padding: .4rem .7rem;
      
    }

    &.node-mouse {
      box-shadow: black 0 2px 8px;
    }
  
    &.node-evaluated {
      padding: .4rem .7rem;
      font-size: 10pt;
      min-width: 400px;
      min-height: 60px;
      box-shadow: black 0px 2px 8px inset;

      .content {
        width: 100%;
      }
    }

    &.node-help {
      min-height: 200px;
    }

    &.node-visualizer {
      min-width: 256px !important;
      height: min-content !important;
    }

    &.node-number,
    &.node-time {
      border-radius: 20px 20px 0 20px;

      textarea {
        color: yellow;
        text-align: right;
      }

    }


    &.node-comment {
      textarea {
        color: grey;
        overflow-y: visible;
        scrollbar-gutter: stable;
        max-height: 500px;
      }
    }

    &.node-operator,
    &.node-negation {
      textarea {
        color: var(--color-t);
        text-align: center;
      }
    }

    &.node-function,
    &.node-function2 {
      box-shadow: black 0 2px 8px;
    }

    &.node-out,
    &.node-switch,
    &.node-conmut {
      .content {
        width: 100%;
        height: 100%;
        text-align: center;
        text-transform: uppercase;
      }
      box-shadow: black 0 2px 8px;
    }

    &.node-conmut {
        border-radius: 0 20px 0 20px;
        padding-top: .15rem;
        color: var(--color-t);
        font-size: 16pt;
    }
  
    &.node-switch {
      border-radius: 0 0 0 20px;
      color: var(--color-t);
      padding-top: .75rem;

      .switched {
        background: yellow !important;
      }
    }

  
    .handle {
      background: transparent;
      border: none;
      right: -11px;
      height: calc(100% - 6px);
      top: 0;
      margin-top: 3px;
    }
  
    .sockets {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
    }

    .inputs,
    .outputs {
      position: absolute;
      gap: 10px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      height: 14px;
    }
  
    .inputs {
      top: 0;
      overflow-X: hidden;
      overflow-y: hidden;
    }

    .handler {
      background-color: white;
      width: 20px;
      height: 20px;
      color: black
   }

    .outputs {
      align-items: flex-end;
      flex-direction: row-reverse;
      bottom: 0;
  
      .socket {
        cursor: grabbing;

       
      }
    }
  
    .socket {
      width: 10px;
      height: 3px;
      outline: solid 1px var(--color-command);
    
      &.active {
        background: var(--color-command);
      }

    }


    .label {
      color: grey;
      font-size: 7.5pt;
      width: 10px;
      text-align: center;
      display: block;
      line-height: 1;
      padding-top: 2px;

      &:hover {
        color: yellow;
      }
    }
  }