@import './base.scss';

#app {
  margin: 0;
  padding: 0;
  width: 100%;
  font-weight: normal;
  height: 100dvh;
  display: flex;
  flex-direction: column;

  main {
    height: 100%;
  }
}

.shadow {
  box-shadow: black 0px 2px 2px;
}

.shadow-inset {
  box-shadow: black 0px 2px 2px;
}